* {
    box-sizing: border-box;
    border-top: "2px solid #fff ";
    margin-left: 20;
    margin-right: 20;
    
  }
  /*margin-right doesnt work :(*/
  .productsContainer {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
  }
  
  .products {
    display: flex;
    flex-direction: row;
    align-items: left;
    
    padding: 1em;
    /*border: 0px solid gray;*/
    border-bottom: solid 0.5px #acacac;
    
  }

  .details {
    padding-right: 400px;
    min-width: 600px;
  }
  
  .products_img {
    width: 700px;
    margin-left: 16px;
    margin-right: 60px;
    
  }