* {
    box-sizing: border-box;
    border-top: "2px solid #fff ";
    margin-left: 20;
    margin-right: 20;
    
  }
  
  .productsContainer {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
  }
  
  .products {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 65%;
    margin: 1em 1em 1em 18em;
    padding: 1em;
    border: 1px solid gray;
    
  }
  
  .products_img {
    width: 200px;

    
  }